.fade, .static
{
   background-color: white;
   padding: 10px;
   opacity: 1;
   -webkit-transition: opacity .4s ease-in-out;  /* Safari and Chrome */
      -moz-transition: opacity .4s ease-in-out;  /* Firefox */
       -ms-transition: opacity .4s ease-in-out;  /* Internet Explorer */
        -o-transition: opacity .4s ease-in-out;  /* Opera */
           transition: opacity .4s ease-in-out;  
}

.fade:hover
{
   opacity: .4;
   cursor:  pointer;
   -webkit-filter: blur(2px);  /* Safari and Chrome */
      -moz-filter: blur(2px);  /* Firefox */
       -ms-filter: blur(2px);  /* Internet Explorer */
        -o-filter: blur(2px);  /* Opera */
           filter: blur(2px);
}