#conteudo
{
	width:      auto;                                                /* 81%   */
	padding:    0px;                                                 /* 10px  */
   	background: black url(../img/refresh-200.png) center no-repeat;  /* white */
}
#conteudo tr:hover td
{
	background: #C0C0C0;
}
#conteudo tr.quadrimestre:hover td
{
	background: initial;
}